@charset "UTF-8";

/*共通*/
html, body {
	background-color: #ffffbb;
	margin: 0;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
main{
	padding: 120px 0 60px;
}
.button {
	display: block;
	background-color: navy;
	color: white;
	font-size: 20px;
	text-decoration: none;
	border: solid 2px #000066;
	border-radius: 5px;
	padding: 2px 15px 3px;
	cursor: pointer;
	transition: all 0.3s;
}
.button:hover {
	opacity: 0.6;
}
.error {
	display: none;
	color: red;
  	font-size: 20px;
}
h1 {
	color: white;
	text-align: center;
	margin: 14px 0 0;
}
h2 {
	font-size: 24px;
	text-align: center;
}
h2 span {
	color: red;
	font-size: 18px;
}
h3 {
	font-size: 24px;
	font-weight: 300;
	text-align: center;
}





/*ヘッダー*/
header {
	position: fixed;
	width: 100%;
	height: 80px;
	z-index: 10;
}
header .container {
	display: flex;
	justify-content: space-between;
}
.header-btn {
	display: flex;
	margin: 21px 0;
}
.header-btn a {
	margin: 0 15px;
}
.back-btn {
	display: inline-block;
	position: relative;
	top: -4px;
	background-color: navy;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border: none;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	padding-right: 9px;
	transition: all 0.3s;
	cursor: pointer;
}
.back-btn:hover {
	opacity: 0.6;
}



/*トップページ*/
.top {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.management {
	display: block;
	background-color: #99FFCC;
	font-size: 24px;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 0 0 0 2px #fff, 0 0 0 4px #99FFCC, 0 0 8px #333;
	text-align: center;
	width: calc(50% - 60px / 2);
	padding: 15px 0;
	margin: 0 60px 60px 0;
	transition: 0.3s;
}
.management:nth-child(2n) {
	margin-right: 0;
}
.management:hover {
	opacity: 0.6;
}




/*ログイン画面*/
.login-form {
	display: flex;
	justify-content: center;
}
.login-items {
	width: 500px;
	max-width: 500px;
}
.login-item {
	display: flex;
	justify-content: center;
	font-size: 24px;
	margin-bottom: 20px;
}
.login-label {
	text-align: right;
	width: 10rem;
	margin-right: 10px;
	line-height: 52px;
}
.login-info {
	font-size: 24px;
	width: 300px;
	padding: 10px 5px;
}
.error-message {
	font-size: 24px;
	color: red;
	text-align: center;
	margin-bottom: 10px;
}
.login-link {
	text-align: center;
}
.login-img {
	width: 180px;
}
.login-img img {
	width: 100%;
}




/**登録画面**/
main {
	padding-bottom: 30px;
}
main form {
	width: calc(100% - 30px);
	height: 100%;
	margin: 0 15px;
}
.tr {
	display: flex;
	align-items: stretch;
	width: 100%;
	margin: 1px 0;
}
.th {
	background-color: #d6d6d6;
	font-size: 24px;
	width: 30%;
	text-align: right;
	padding: 5px;
}
.th span {
	color: red;
}
.td {
	background-color: #eeeeee;
	font-size: 20px;
	width: 70%;
	height: 100%;
	padding: 5px;
}
.td input {
	font-size: 24px;
	border: solid 1px #777;
	border-radius: 5px;
	width: calc(100% - 22px);
	height: 50px;
	padding: 0px 10px;
	outline: none;
}
.td input.middle_size {
	width: auto;
	vertical-align: middle;
	margin: 0px 6px 0px 0px;
	cursor: pointer;
}
.td label.middle_size {
	cursor: pointer;
}
.td label.middle_size:hover {
	background-color: #ddeeff;
}
.td select {
	font-size: 24px;
	width: 100%;
	height: 60px;
	outline: none;
}
.td textarea {
	font-size: 24px;
	border: solid 1px #777;
	border-radius: 5px;
	width: calc(100% - 22px);
	height: 150px;
	padding: 12px 10px;
}
.short {
	width: 50%!important;
}
.postcode {
	width: 60px!important;
}
.back-gray {
	background-color: #eee;
}
.register_buttons {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.register_buttons input {
	margin: 0 10px;
}
input[type="file"] {
	border: none;
	height: 100%;
}
.cite-td {
	display: flex;
	align-items: center;
}
select.cite-sel {
	width: 70%;
}
.cite {
	width: 12%!important;
	margin-left: 20px;
}
.disabled {
	background-color: #eee;
	pointer-events: none;
}
.green {
	background-color: green;
}
.brown {
	background-color: brown;
}
.lightgreen {
	background-color: lightgreen;
}
.yellow {
	background-color: #ffff88;
}




/**一覧画面**/
.display {
	border: 3px solid #333;
	border-bottom: 2px solid #333;
	text-align: center;
	width: 100%;
}
.display-thead {
	display: flex;
	font-weight: bold;
	border-bottom: 3px solid #333;
}
.display-th, .display-td {
	font-size: 24px;
	border-right: 3px solid #333;
	width: 30%;
	padding: 5px 10px;
}
.display-th:last-child {
	border-right: none;
	width: 70%;
}
.display-tbody {
	display: flex;
	border-bottom: 1px solid #333;
}
.display-td:last-child {
	border-right: none;
	width: 70%;
}
.display-con {
	text-decoration: none;
}
.no-display {
	font-size: 24px;
	text-align: center;
	padding-top: 20vh;
}
.display-title {
	position: relative;
}
.del {
	width: 100%;
}
.searchs {
	margin-bottom: 20px;
}
.search {
	display: flex;
	align-items: center;
}
.search h3 {
	text-align: left;
	width: 180px;
	margin: 5px 0;
}
.search select {
	position: relative;
	top: 3px;
	background-color: white;
	font-size: 18px;
	border: 1px solid navy;
	width: 30%;
	height: 34px;
	margin-left: 5px;
	outline: none;
}
.shop_search h3 {
	width: 60px;
}
.add-button {
	display: flex;
	justify-content: center;
	margin: 30px 0;
}
.add-button a {
	margin: 0 10px;
}




/**詳細画面**/
.show {
	border-top: 3px solid #333;
	border-right: 3px solid #333;
	border-left: 3px solid #333;
	border-bottom: 2px solid #333;
	width: 90%;
	margin: 0 auto;
}
.show-tr {
	display: flex;
	border-bottom: 1px solid #333;
}
.show-th {
	font-size: 24px;
	font-weight: bold;
	border-right: 3px solid #333;
	text-align: center;
	width: 30%;
	padding: 15px 5px;
}
.show-td {
	font-size: 24px;
	width: 70%;
	padding: 15px 0;
}
.show-con {
	padding: 0 10px;
}
.show-con img {
	width: 50%;
}
.show_buttons {
	display: flex;
	justify-content: center;
	width: 90%;
	margin: 20px auto;
}
.show_buttons form {
	width: 100px;
	text-align: center;
}
.show_buttons input {
	width: 100px;
}
.show_buttons a {
	width: 100px;
	text-align: center;
	padding: 0;
	margin: 0 15px;
}


/** 交換可能店舗フォーム **/
.shop-list {
	width: 100%;
	margin: 0;
}
.exch_form {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 20px 0;
}
.exch_form select {
	font-size: 16px;
	width: 100%;
	height: 100px;
	margin-right: 10px;
	outline: none;
}
